{% extends 'base.html.twig' %}

{% block title%}Authors by Birthday - BrainyQuote{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row sf_content">
        <h5>Authors by Birthday</h5>
        <p>Want to know what famous authors share your birthday? Browse our authors by their birthday on the calendar below. Click the date to find authors born on your favorite day.</p>

        <div class="col s12 m12 l8">
        	<div class="row">

<div class="well pull-left" style="margin:10px 20px 6px 0px; width:270px; background-color: #F1F1F1">
<table class="moCalendar">
<thead><tr>
<td colspan="7"><h2 class="bq_calmon">January</h2></td>
</tr></thead>
<tbody>
<tr>
<td>
<a href="/birthdays/january_1" class="active">1</a>
</td>
<td>
<a href="/birthdays/january_2">2</a>
</td>
<td>
<a href="/birthdays/january_3">3</a>
</td>
<td>
<a href="/birthdays/january_4">4</a>
</td>
<td>
<a href="/birthdays/january_5">5</a>
</td>
<td>
<a href="/birthdays/january_6">6</a>
</td>
<td>
<a href="/birthdays/january_7">7</a>
</td>
</tr>
<tr>
<td>
<a href="/birthdays/january_8">8</a>
</td>
<td>
<a href="/birthdays/january_9">9</a>
</td>
<td>
<a href="/birthdays/january_10">10</a>
</td>
<td>
<a href="/birthdays/january_11">11</a>
</td>
<td>
<a href="/birthdays/january_12">12</a>
</td>
<td>
<a href="/birthdays/january_13">13</a>
</td>
<td>
<a href="/birthdays/january_14">14</a>
</td>
</tr>
<tr>
<td>
<a href="/birthdays/january_15">15</a>
</td>
<td>
<a href="/birthdays/january_16">16</a>
</td>
<td>
<a href="/birthdays/january_17">17</a>
</td>
<td>
<a href="/birthdays/january_18">18</a>
</td>
<td>
<a href="/birthdays/january_19">19</a>
</td>
<td>
<a href="/birthdays/january_20">20</a>
</td>
<td>
<a href="/birthdays/january_21">21</a>
</td>
</tr>
<tr>
<td>
<a href="/birthdays/january_22">22</a>
</td>
<td>
<a href="/birthdays/january_23">23</a>
</td>
<td>
<a href="/birthdays/january_24">24</a>
</td>
<td>
<a href="/birthdays/january_25">25</a>
</td>
<td>
<a href="/birthdays/january_26">26</a>
</td>
<td>
<a href="/birthdays/january_27">27</a>
</td>
<td>
<a href="/birthdays/january_28">28</a>
</td>
</tr>
<tr>
<td>
<a href="/birthdays/january_29">29</a>
</td>
<td>
<a href="/birthdays/january_30">30</a>
</td>
<td>
<a href="/birthdays/january_31">31</a>
</td>
<td class="bigbold"><br></td>
<td class="bigbold"><br></td>
<td class="bigbold"><br></td>
<td class="bigbold"><br></td>
</tr>
</tbody></table>
</div>

        	</div>
        </div>
		<div class="col s12 m12 l4">
			<h5>Popular Topics</h5>

            <blockquote class="z-depth-1" style="border-color:#00B7ED;">
              <a href="#"><b>Motivational</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#803591;">
              <a href="#"><b>Inspirational</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#F52422;">
              <a href="#"><b>Life</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#FFAE1D;">
              <a href="#"><b>Love</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#85C243;">
              <a href="#"><b>Funny</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#00B7ED;">
              <a href="#"><b>Positive</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#803591;">
              <a href="#"><b>Friendship</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#F52422;">
              <a href="#"><b>Success</b> Quotes</a>
            </blockquote>
		</div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
{% endblock %}