{% extends 'base.html.twig' %}

{% block title%}Authors by Birthday - BrainyQuote{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row sf_content">
        <h5>Authors by Birthday</h5>
        <p>Want to know what famous authors share your birthday? Browse our authors by their birthday on the calendar below. Click the date to find authors born on your favorite day.</p>

        <div class="col s12 m12 l8">
        	<div class="row">

			{% for item in cal_days %}
				<div class="well pull-left" style="margin:10px 20px 6px 0px; width:270px; background-color: #F1F1F1;float: left;display: inline-block;">
					<table class="moCalendar">
						<thead>
							<tr><th colspan="7"><h2 class="bq_calmon">{{ item.month }}</h2></th></tr>
						</thead>
						<tbody>
							{% set week = 0 %}
							{% for i in 1..item.lday %}
								{% if(week == 0) %}
									<tr>
								{% endif %}
								<td><a href="{{ path('birthdaysonpage',{'_format':'html', 'date': (item.month ~ '_' ~ i) }) }}">{{ i }}</a></td>
								{% set week = week + 1 %}
								{% if(week == 7) %}
									</tr>
									{% set week = 0 %}
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endfor %}


        	</div>
        </div>
		<div class="col s12 m12 l4">
			<h5>Popular Topics</h5>

            <blockquote class="z-depth-1" style="border-color:#00B7ED;">
              <a href="#"><b>Motivational</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#803591;">
              <a href="#"><b>Inspirational</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#F52422;">
              <a href="#"><b>Life</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#FFAE1D;">
              <a href="#"><b>Love</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#85C243;">
              <a href="#"><b>Funny</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#00B7ED;">
              <a href="#"><b>Positive</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#803591;">
              <a href="#"><b>Friendship</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#F52422;">
              <a href="#"><b>Success</b> Quotes</a>
            </blockquote>
		</div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
{% endblock %}