{% extends 'base.html.twig' %}

{% block title %}Profession - BrainyQuote{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row sf_content">
        <h5>Profession</h5>
        <p>Can't think of the author's name but know their occupation? Our collection of authors by profession to find quotes by your favorite writer, president, poet, philosopher, musician and more.</p>
        {% set myrow = 0 %}
        {% for item in profession %}
          {% set myrow = myrow + 1 %}
          {% if ( myrow == 1)%}
            <div class="col s12 m12 l4">
              <div class="row">
                <ul>
          {% endif %}
          <li><a href="#">{{ item.name }}</a></li>
          {% if ( myrow == 33) %}
                </ul>
              </div>
            </div>
            {% set myrow = 0 %}
          {% endif %}
        {% endfor %}
        {% if ( myrow != 0) %}
              </ul>
            </div>
          </div>
          {% set myrow = 0 %}
        {% endif %}

        <div class="col s12 m12 l4">
          <div class="row">Reclam is here.</div>
        </div>
    </div>

    <div class="row sf_content">
        <div class="col s12 m12 l4">
          <div class="row" style="margin-right:0px;">
            <h5>Popular Authors</h5>

            {{ render_esi(controller('AppBundle:Topselect:topauthors')) }}
          
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="row" style="margin-right:0px;">
            <h5>Popular Topics</h5>

            {{ render_esi(controller('AppBundle:Topselect:toptopics')) }}

          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="row">Reclam is here.</div>
        </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
{% endblock %}