{% extends 'base.html.twig' %}

{% block title%}Quote Pictures - BrainyQuote{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}

    {% include 'helper/letternavbar.html.twig' %}
    <div class="container">
        <div class="row sf_content">
            <div class="col s12 m12 l8">
                <div class="row" style="margin-right: 0px;">
                    <h5>Quote Pictures</h5>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="row">

                    <h5>Popular Authors</h5>
                    {{ render_esi(controller('AppBundle:Topselect:topauthors')) }}

                    <h5>Popular Topics</h5>
                    {{ render_esi(controller('AppBundle:Topselect:toptopics')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <!--  Scripts-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/init.js"></script>
{% endblock %}