{% extends 'base.html.twig' %}

{% block title %}Quote Topics - BrainyQuote{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row sf_content">
        <h5>Quote Topics</h5>
        <p>Looking for a quote from your favorite topic? Our quote collections are organized by topic to help you find the perfect quote. Enjoy quotes on popular topics like: Love, Life, Friendship, Success, Wisdom.</p>
        {% set myrow = 0 %}
        {% for item in topics %}
          {% set myrow = myrow + 1 %}
          {% if ( myrow == 1)%}
            <div class="col s12 m6 l2">
              <div class="row">
                <ul>
          {% endif %}
          <li><a href="#">{{ item.name }}</a></li>
          {% if ( myrow == 31) %}
                </ul>
              </div>
            </div>
            {% set myrow = 0 %}
          {% endif %}
        {% endfor %}
        {% if ( myrow != 0) %}
              </ul>
            </div>
          </div>
          {% set myrow = 0 %}
        {% endif %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
{% endblock %}