<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="row center">
                <a href="#"><h4 class="header col s12 light">A forest bird never wants a cage.</h4></a>
            </div>
            <div class="row center">
                <a href="#"><p>Henrik Ibsen</p></a>
            </div>

            <div class="row center">
                <p>&nbsp;</p>
            </div>
            <div class="row center">
                <a class="right-align" href="#"><i class="fa fa-heart fa-1x"></i></a>&nbsp;&nbsp;
                <a class="right-align" href="#"><i class="fa fa-plus-square fa-1x"></i></a>&nbsp;&nbsp;
                <a class="right-align" href="#"><i class="fa fa-refresh fa-1x"></i></a>
            </div>
            <br>
            <div class="row center">
                <p>&nbsp;</p>
            </div>

        </div>
    </div>
    <div class="parallax"><img src="/background1.jpg" alt="Unsplashed background img 1"></div>
</div>