/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
  position: relative;float: left;
  height: 40px;
}

p {
  line-height: 2rem;
  margin: 0px;
}

.button-collapse {
  color: #26a69a;
}

.sf_content h5{
  border-bottom: 1px solid rgb(51, 51, 51);
  padding-bottom: 2px;
  font-size: 17.5px;
  font-weight: bold;
}

.sf_content ul li a{
  font-size: 13.5px;
}
.sf_content blockquote{
  line-height: 40px;
  border-radius: 3px;
}
.sf_content blockquote a{
  color: #333;
}

.parallax-container {
  /*min-height: 380px;*/
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  .parallax-container a {
    color: #fff;
  }
  .parallax-container a:hover {
    text-decoration: underline;
  }
  .parallax-container h5 {
    font-weight: bold;
    text-shadow: 3px 2px 3px #000000;
  }
  .parallax-container a:hover h5 {
    text-decoration: underline;
  }
  .parallax-container p {
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 2px 3px #000000;
  }

nav .input-field label i {
  color: #9e9e9e;
  line-height: 32px;
  height: 31px;
  font-size: 18px;
}

nav .input-field input[type=search]{
  
}

#search {
  border: 1px solid #9e9e9e;
  border-radius: 14px;
  line-height: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
}

table.moCalendar{
  margin-left:auto;margin-right:auto;border-collapse:collapse;
}
table.moCalendar thead{
  background-color: #00B7ED;color: #fff;font-size: 19px;padding-left: 9px;
    padding-right: 9px;
    display: block;
}
table.moCalendar thead h2{
  font-size: 19px;
  margin: 0px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
table.moCalendar thead tr th{
  padding: 0px;display: inline-block;width: 36px;
}
table.moCalendar tbody{margin-top: 4px;padding-left: 9px;padding-right: 9px;display: block;}
table.moCalendar tbody tr td{
  padding: 0px;
}
table.moCalendar tbody tr td a{    
  line-height: 36px;height: 36px;width: 36px;text-align: center;display: inline-block;
}
table.moCalendar tbody tr td a:hover{
  background-color: #00B7ED;color: #fff;border-radius: 25px;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}