{% extends 'base.html.twig' %}

{% block title%}Quote of the Day - BrainyQuote{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}

{% include 'helper/letternavbar.html.twig' %}
<div class="container">
    <div class="row">
        <h4>Account Settings</h4>

    </div>
</div>


<div class="container">
    <div class="row sf_content">
        <div class="col s12 m12 l9">
            <div class="row">
                <h5>Profile</h5>

                <form class="col s12 m8 l5">
                    <div class="row">
                        <div class="input-field col s12">
                            <input disabled value="{{ app.user.username }}" id="disabled" type="text" class="validate">
                            <label for="disabled">Display Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input disabled value="{{ app.user.email }}" id="disabled" type="text" class="validate">
                            <label for="disabled">Email</label>
                        </div>
                    </div>

                    <div class="row">
                        Note: for security reasons, portions of your email address are not shown.
                    </div>

                    <div class="row">
                        Note: for security reasons, portions of your email address are not shown.
                    </div>
                </form>
            </div>
        </div>
        <div class="col s12 m12 l3">
            <h5>Popular Topics</h5>
            {{ render_esi(controller('AppBundle:Topselect:toptopics')) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>
{% endblock %}